.header {
  position: fixed;
  width: 100%;
  z-index: 25;
  background-color: rgba($color: #fff, $alpha: 1.0);
  @media (max-width:1169px){
    &__body {
      margin: 40px 5px;
    }
  }
  &__body {
    height: 21px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 0;
  }

  &__logo {
    flex: 0 1 172px;
    img {
      width: 100%;
    }
  }

  &__menu {
  }
}
.menu {
  &__icon {
  }

  &__body {
  }

  &__list {
    display: flex;
    align-items: center;
    li {
      padding: 0 17px;
      @media (max-width: 988px) {
        padding: 0 6px;
      }
      &:last-child {
        padding: 0 0 0 14px;
        &::after {
          content: "";
          top: 0;
          right: 0;
          padding: 8px 0 8px 40px;
          background: url("../img/icons/globe.png") right no-repeat;
        }
      }
    }
  }

  &__link {
    color: #646667;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    word-spacing: 3px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      width: 0;
      height: 1px;
      bottom: 0;
      background-color: #007397;
      transition: all 0.3s ease 0s;
    }
    @media (max-width: 988px) {
      line-height: 20px;
      word-spacing: normal;
      letter-spacing: normal;
    }
    &:hover {
      color: #007397;
      &::after {
        left: 0;
        width: 100%;
        transition: all 0.3s ease 0s;
      }
    }
  }
}
.icon-menu {
  @media (max-width: 767px) {
    display: block;
    position: absolute;
    top: 18px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 25;
    span {
      transition: all 0.5s ease 0s;
      top: 8px;
      left: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #000000;
      &:first-child {
        top: 0px;
      }
      &:last-child {
        top: auto;
        bottom: 0px;
      }
    }
    &.active {
      span {
        transform: scale(0, 0);
        &:first-child {
          transform: rotate(-45deg);
          top: 8px;
        }
        &:last-child {
          transform: rotate(45deg);
          bottom: 8px;
        }
      }
    }
  }
}

//?-------------"burger"-menu----------
/*.icon-menu {
  @media (max-width: 767px){
    display: block;
    position: absolute;
    top: 18px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 25;
    span {
      transition: all 0.5s ease 0s;
      top: 8px;
      left: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #000000;
      &:first-child {
        top: 0px;
      }
      &:last-child {
        top: auto;
        bottom: 0px;
      }
    }
    &.active {
      span {
        transform: scale(0, 0);
        &:first-child {
          transform: rotate(-45deg);
          top: 8px;
        }
        &:last-child {
          transform: rotate(45deg);
          bottom: 8px;
        }
      }
    }
  }
}
*/
