//!------------Variables------------
$mxw: 1170px;
$bgc: #fff;
//!------------------------------------
//?------------mixin------------
@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
      url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}
//?------------------------------------

//?------------fonts------------

@import "fonts";

//*Default font:
$font_family: "Montserrat", sans-serif;
//?------------------------------------

//*------------styles------------
@import "reset";
//!@import "slider";
@import "header";
@import "footer";
//*------------------------------------

//TODO------------workplace------------
//*------------container------------
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: $bgc;
}
.container {
  max-width: $mxw;
  margin: 0 auto;
}
//*-----------------ibg-------------------
//?-explanation of code to look at README-
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  img {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
  }
}
//*---------------------------------------
.page {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.content {
  margin: 101px 0 0 0;
  @media (max-width: 988px) {
    margin: 78px 0 0 0;
  }
}
.blue-bg {
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    width: 31%;
    height: 130%;
    left: -50px;
    top: -95px;
    transform: rotate(18deg);
    background-image: linear-gradient(
      198deg,
      #007397 0%,
      rgba(0, 115, 151, 0) 100%
    );
  }
}
.main-screen {
  &__label {
    height: 410px;
    position: relative;
  }

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__title {
    position: absolute;
    z-index: 5;
    bottom: 84px;
    right: 0;
    text-shadow: 0 2.5px 1px rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: "PT Serif";
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 2.2px;
    line-height: 48px;
    text-transform: uppercase;
    max-width: 770px;
    @media (max-width: 988px) {
      font-size: 24px;
      line-height: 40px;
      max-width: 680px;
    }
    @media (max-width: 767px) {
      font-size: 22px;
      line-height: 33px;
      max-width: 550px;
    }
  }
  &__text {
    p {
      color: #646667;
      font-size: 20px;
      font-weight: 300;
      line-height: 36px;
      text-align: center;
    }
    padding: 48px 100px 0 100px;
    @media (max-width: 988px) {
      padding: 40px 70px 0 70px;
    }
    @media (max-width: 767px) {
      padding: 40px 45px 0 45px;
      line-height: 24px;
      font-size: 18px;
    }
  }
  &__link {
    span {
      z-index: 15;
      position: relative;
    }
    height: 56px;
    max-width: 370px;
    margin: 40px auto 0 auto;
    padding: 20px 0;
    @media (max-width: 767px) {
      max-width: 100%;
    }
  }
}
.btn {
  display: block;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 16px;
  text-transform: uppercase;
  background-color: #007397;
  text-align: center;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 0;
    background-color: #00526b;
    transition: all 0.5s ease 0s;
  }
  &:hover {
    &::after {
      width: 100%;
      left: 0;
      transition: all 0.5s ease 0s;
    }
  }
}
.title {
  color: #3c3f3d;
  font-family: "PT Serif";
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1.9px;
  line-height: 48px;
  text-transform: uppercase;
}
.invest {
  margin: 101px 0 101px 0;
  @media (max-width: 1170px) {
    margin: 101px 5px 0 5px;
  }
  &__p {
    max-width: 670px;
    text-align: left;
  }
  &__column {
    display: flex;
    flex-direction: column;
  }
  &__title {
    margin: 0 0 38px 0;
  }
  &__text {
    margin: 0 0 44px 0;
  }

  &__text p {
    color: #646667;
    font-size: 20px;
    font-weight: 300;
    line-height: 36px;
  }

  &__stats {
    margin: 0 0 0 18px;
    @media (max-width: 988px) {
      margin: 0 0 0 6px;
    }
  }

  &__list {
  }

  &__link {
    display: block;
    max-width: 270px;
    text-align: center;
    padding: 17px 0;
    span {
      z-index: 15;
      position: relative;
    }
    @media (max-width: 767px) {
      max-width: 100%;
    }
  }
}
.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
  margin: 0 0 40px 0;
  @media (max-width: 988px) {
    flex-wrap: wrap;
    justify-content: center;
    li {
      flex: 0 0 33.333%;
      padding: 0 25px 10px 0;
    }
    &__title {
      font-size: 44px;
      line-height: 44px;
    }
  }
  @media (max-width: 767px) {
    justify-content: center;
    li {
      flex: 0 0 50%;
      text-align: center;
    }
  }
  &__title {
    display: block;
    color: #007397;
    font-family: "PT Serif";
    font-size: 54px;
    font-weight: 400;
    line-height: 54px;
    text-transform: uppercase;
  }

  &__subtitle {
    display: block;
    color: #aec3d4;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
  }
}

.news {
  margin: 0 0 75px 0;
  @media (max-width: 1190px) {
    margin: 65px 5px 75px 5px;
  }
  @media (max-width: 988px) {
    margin: 45px 5px 60px 5px;
  }
  @media (max-width: 767px) {
    margin: 25px 5px 45px 5px;
  }
  &__column {
  }

  &__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 40px 0;
    @media (max-width: 630px) {
      display: block;
    }
  }

  &__title {
    @media (max-width: 680px) {
      margin: 0 0 20px 0;
    }
  }

  &__nav {
    display: flex;
    &-item {
      color: #d3cfce;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 1px;
      line-height: 16px;
      text-transform: uppercase;
      text-align: center;
      margin: 0 0 0 100px;
      cursor: pointer;
      @media (max-width: 988px) {
        font-size: 14px;
        line-height: 14px;
        margin: 0 0 0 50px;
      }
      @media (max-width: 680px) {
        margin: 5px 10px;
        &:last-child {
          margin: 5px 0 0 10px;
        }
      }
    }
    @media (max-width: 680px) {
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .active {
      color: #007397;
    }
  }

  &__body {
  }

  &__item {
  }
}

.item-news {
  display: flex;
  margin: 0 -15px;
  &__column {
    flex: 0 0 33.333%;
    padding: 0 15px;
    margin: 0 0 25px 0;
    @media (max-width: 988px) {
      flex: 0 0 50%;
    }
    @media (max-width: 630px) {
      flex: 1 1 100%;
    }
  }
  @media (max-width: 988px) {
    flex-wrap: wrap;
  }
  &__content {
  }
}
.content-news {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 500px;
  margin: 0 auto;
  &__header {
  }
  &__text {
    flex: 1 1 auto;
    color: #646667;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    padding: 28px 0;
  }
  &__link {
    color: #007397;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 16px;
    text-transform: uppercase;
    &:hover {
      text-decoration: underline;
    }
  }
}
.header-news {
  height: 370px;
  position: relative;
  &__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
    padding: 25px 30px;
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    &.blue-bg {
      &::after {
        width: 98%;
      }
    }
  }
}
.content-news-value {
  &__category {
    font-size: 12px;
    color: #fff;
    letter-spacing: 0.75px;
    font-weight: 700;
    text-transform: uppercase;
    &:hover {
      text-decoration: underline;
    }
  }

  &__title {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 32px;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 30px 70px 30px;
    &:hover {
      text-decoration: underline;
    }
    @media (max-width: 988px) {
      padding: 0 20px 50px 20px;
      font-size: 18px;
    }
  }
}

.country {
  &__title {
    margin: 0 0 40px 0;
    @media (max-width: 767px) {
      margin: 0 0 25px 0;
    }
  }

  &__map {
    height: 448px;
    background-color: grey;
  }
}

//TODO------------------------------------
